* {
  margin: 0;
  box-sizing: border-box; 
  overflow: hidden;
} 

body {
  background-color: #9a9ffa;
} 

.book-container { 
  background-color: #9a9ffa; 
  width: 98vw; 
  height: 100vh; 
  margin: auto auto;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  overflow-y: auto;
} 

.page { 
  width: 25vw; 
  height: 35vw;
  background-color: #fff; 
  margin-left: 10px; 
  margin-top: 10px; 
  border-radius: 5px;
  border: 2px solid #8B6947; 
  background-color: #AB8957; 
  padding: 6px;
  font-size: 2cqw;
} 

.front { 
  background-color: #8B6947;
  text-align: center; 
}

.front h1 {
  margin-top: 10px;
  transform: rotate(10deg);
}

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  justify-content: space-between;
}

.map p {
  padding: 6px 6px 0 6px;
}

img{
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.map img {
  border-radius: 0 0 3px 3px;
  border-top: 2px solid #8B6947;
}
.page-1 img, .front img {
  transform: rotate(-8deg);
}

.front img {
  width: 70%;
}

.page-11 img, .page-8 img {
  width: 80%;
  display: block;
  margin: 10px auto;
}

.page-8 img {
  width: 60%;
  transform: rotate(8deg);
}

.page-3 img {
  transform: rotate(6deg);
}